################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CnCRemastered/v16
/.vs
/TIBERIANDAWN/Win32/Release
/bin/Win32
