<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MobiusEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MobiusEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <applicationSettings>
        <MobiusEditor.Properties.Settings>
            <setting name="Quality" serializeAs="String">
                <value>2</value>
            </setting>
        </MobiusEditor.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MobiusEditor.Properties.Settings>
            <setting name="ToolDialogPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowInviteWarning" serializeAs="String">
                <value>True</value>
            </setting>
        </MobiusEditor.Properties.Settings>
    </userSettings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="bin" />
      </assemblyBinding>
    </runtime>
</configuration>
