/****************************************************************************


CC_ICON.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include "cc_icon.rh"



ICON_1 ICON "conquer.ico"

