/****************************************************************************


REG_ICON.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include "reg_icon.rh"



ICON_1 ICON "conquer.ico"

